html, body {
  background: #fff;
  height: 100%;
  color: #6a6a6a;
  font-family: sans-serif;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}

#container, #map {
  height: 100%;
}

#category-checkboxes {
	margin: 1em;
}

.category-checkbox {
	display: inline-block;
	width: 15em;
}
